*:hover {
  cursor: default; }

div.clear {
  clear: both; }

html {
  font: 12px Helvetica; }

body {
  background: #eeeeee; }

#wrap {
  background: url("../../images/black.png");
  height: 600px;
  margin: 75px auto 0 auto;
  padding: 15px;
  width: 75%; }

#left {
  float: left;
  width: 20%; }
  #left #users {
    width: 100%;
    height: 570px;
    margin: 0;
    padding: 0;
    border: 1px solid #e9e9e9;
    background: #e9f1fa;
    border-right: 0;
    border-bottom-color: #dddddd;
    list-style: none;
    overflow-y: auto; }
    #left #users li {
      background: url("../../images/user.png") no-repeat;
      background-position: 10% 5px;
      margin: 10px 0;
      padding: 6px 0;
      text-indent: 22%; }
  #left #toolbar {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#ededed));
    border: 1px solid #dddddd;
    border-top: 0;
    height: 30px;
    width: 100%; }
    #left #toolbar .button {
      border-left: 1px solid white;
      border-right: 1px solid #dddddd;
      color: #666666;
      float: left;
      font-size: 24px;
      font-weight: bold;
      height: 30px;
      padding: 0 10px;
      text-align: center; }
    #left #toolbar .button:active {
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#f9f9f9));
      border-left-color: #eeeeee; }

#right {
  float: left;
  width: 80%; }
  #right #title {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bfc7d4), to(#899ab3));
    border-bottom: 1px solid #778aa8;
    height: 40px;
    width: 100%; }
    #right #title p {
      color: white;
      font: bold 16px Helvetica;
      margin: 0 auto;
      padding-top: 10px;
      text-align: center;
      text-shadow: #767c8e -1px -1px 1px;
      width: 90%; }
  #right #chat-log {
    background: url("../../images/bg.png");
    border-bottom: 1px solid #bfc7d4;
    height: 530px;
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
    width: 100%; }
    #right #chat-log li {
      background: #f9f9f9;
      border: 1px solid silver;
      border-radius: 10px;
      margin: 5px auto;
      padding: 10px;
      width: 90%; }
    #right #chat-log li.event, #right #chat-log li.name {
      background: none;
      border: 0;
      color: #666666;
      font-size: 11px;
      margin: 0 auto;
      padding: 10px 0;
      text-align: center;
      text-shadow: #f0f0f0 1px 1px 0; }
    #right #chat-log li.name {
      font-weight: bold;
      padding: 0;
      text-align: left;
      font-size: 13px;
      text-shadow: #f0f0f0 1px 1px 0; }
    #right #chat-log li.name + li {
      margin-top: 2px; }
      #right #chat-log li.name + li p {
        display: block;
        margin: 0; }
      #right #chat-log li.name + li p.message {
        margin: 10px 0;
        width: 90%; }
      #right #chat-log li.name + li p.message:first-child {
        float: left;
        margin: 0; }
      #right #chat-log li.name + li p.message:last-child {
        margin-bottom: 0; }
      #right #chat-log li.name + li p.time {
        color: #999999;
        float: right;
        font-weight: bold;
        width: 40px; }
  #right #input {
    background: white;
    border: 1px solid #cccccc;
    border-top: 0;
    font-weight: bold;
    height: 14px;
    margin: 0;
    min-height: 14px;
    outline: 0;
    overflow-y: hidden;
    padding: 8px 1%;
    resize: none;
    width: 97.8%; }
  #right #input:hover {
    cursor: text; }
  #right #input-shadow {
    display: none;
    font-size: 13px;
    font-weight: bold;
    padding: 8px 1%;
    width: 97.8%; }
